:root{
    --Black: #1C1C1C;
    --Brown: #3B2F2F;
    --Gold: #C8A165;
    --Beige: #E9DCC9;
    --Ivory: #F8F5F0;
    --Grey: #A6A6A6;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

a{text-decoration: none;display: inline-block;}
body{
    background-color: var(--Beige);
    
}










